@model IEnumerable<SPC_Coopenae.UI.Areas.Colocaciones.Models.Afiliaciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAfiliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CentroTrabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAfiliacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ejecutivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAfiliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentroTrabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaAfiliacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ejecutivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editar", new {  id=item.IdAfiliacion }) |
            @Html.ActionLink("Details", "Detalles", new { id = item.IdAfiliacion }) |
            @Html.ActionLink("Delete", "Eliminar", new { id = item.IdAfiliacion })
        </td>
    </tr>
}

</table>
