@model SPC_Coopenae.UI.Models.ObjsReporte.R_IDP

<small>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Estado del IDP: @string.Format("{0:0,0.00}", Model.TotalIDP)%</h4>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>IDP Alcanzado</th>
                        <th>IDP </th>
                    </tr>
                </thead>
                @if (!(Model.IDP_Creditos[0] == 0 && Model.Metas_Creditos[0] == 0))
                {

                    <tr>
                        <td><b>Créditos: </b></td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_Creditos[1])%</td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_Creditos[0])%</td>
                    </tr>
                }

                @if (Model.IDP_Productos[0] != 0)
                {
                    <tr>
                        <td><b>Productos: </b></td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_Productos[1])%</td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_Productos[0])%</td>
                    </tr>
                }

                @if (!(Model.IDP_CDPs[0] == 0 && Model.Metas_CDPs[0] == 0))
                {
                    <tr>
                        <td><b>CDP's: </b></td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_CDPs[1])%</td>
                        <td>@string.Format("{0:0,0.00}", Model.IDP_CDPs[0])%</td>
                    </tr>
                }

            </table>
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Desglose de Metas</h4>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Total Alcanzado</th>
                        <th>Total Meta</th>
                    </tr>
                </thead>
                @if (!(Model.IDP_Creditos[0] == 0 && Model.Metas_Creditos[0] == 0))
                {

                    <tr>
                        <td><b>Créditos: </b></td>
                        <td>@string.Format("{0:0,0.00}", Model.Metas_Creditos[1])%</td>
                        <td>@string.Format("{0:0,0.00}", Model.Metas_Creditos[0])%</td>
                    </tr>
                }

                @if (!(Model.IDP_CDPs[0] == 0 && Model.Metas_CDPs[0] == 0))
                {
                    <tr>
                        <td><b>CDP's: </b></td>
                        <td>@string.Format("{0:0,0.00}", Model.Metas_CDPs[1])%</td>
                        <td>@string.Format("{0:0,0.00}", Model.Metas_CDPs[0])%</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</small>