@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.Meta

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Meta</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escala)
        </dt>

        <dd>
            @Html.Encode((ViewBag.Escala as SelectList).SingleOrDefault(x => int.Parse(x.Value) == Model.Escala).Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdMeta }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
