@model SPC_Coopenae.UI.Areas.Colocaciones.Models.ColocacionCDP

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>ColocacionCDP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdColocacionCDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdColocacionCDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTitulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTitulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CentroTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentroTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEmision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periocidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periocidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoCDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoCDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlazoMeses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlazoMeses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasaOtorgada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasaOtorgada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreTasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreTasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejecutivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCDP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { id = Model.IdColocacionCDP/ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
