@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.ComisionAfiliacion

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>ComisionAfiliacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdComisionAfiliacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdComisionAfiliacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comision)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdComisionAfiliacion }) |
    @Html.ActionLink("Regresar", "Index")
</p>
