@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.Escala

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Escala</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <!--
            
            foreach o algo asi
            lea el viewbag y haga una tabla con los detalles
        
            -->

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
