@model IEnumerable<SPC_Coopenae.UI.Areas.Mantenimientos.Models.Escala>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
 
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>

        <td>
            @Html.ActionLink("Detalles", "Detalles", new {  id=item.IdEscala  }) |
            @Html.ActionLink("Eliminar", "Eliminar", new {  id=item.IdEscala })
        </td>
    </tr>
}

</table>
