@model IEnumerable<SPC_Coopenae.UI.Areas.Mantenimientos.Models.TipoCDP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Registrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoCDP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComisionMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlazoMesesMaximo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoCDP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComisionMaxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlazoMesesMaximo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.IdTipoCDP }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = item.IdTipoCDP }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdTipoCDP })
        </td>
    </tr>
}

</table>
