@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.TipoCredito

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>TipoCredito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComisionDistinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComisionDistinta)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.MaximoComision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoComision)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.SumaIDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumaIDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTipoCredito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
