@model SPC_Coopenae.UI.Areas.Mantenimientos.Models.Productos

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComisionGenera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComisionGenera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsDolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsDolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
